# --- Application ---
APP_ENV=development
API_KEY=supersecretkey

# --- Database ---
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
POSTGRES_DB=payments
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- RabbitMQ ---
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_PAYMENTS_QUEUE_NAME=payments.new
RABBITMQ_DLX_NAME=dead-letter-exchange
RABBITMQ_PAYMENTS_DLQ_NAME=payments.new.dlq
RABBITMQ_PAYMENTS_RETRY_COUNT=3
